body {
  @include font(16px, $basic-text-color, 400, normal);
  font-family: $font-primary;
  background-color: $basic-background;
}

.wrapper {
  @include size(1100px, auto);
  @include push--auto();

  @include media-queries(laptop_L, max) {
    @include size(100%, auto);
    @include margin-padding(null, null, all, 0 20px);
  }
}

h4 {
  @include font(28px, $basic-layout-color, 900);
  @include margin-padding(all, 40px 0px, null, null);
  text-align: center;
  text-transform: uppercase;

  @include media-queries(tablet, max) {
    @include font(22px, null, null);
    @include margin-padding(all, 20px 0px, null, null);
  }
}

.hamburger {
  @include font(30px, null, null);
  display: none;
  cursor: pointer;

  @include media-queries(laptop, max) {
    @include flexbox;
    @include align-items(center);
    order: 1;
  }
}

.hamburger.active {
  color: $basic-layout-color;
}