.listing {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.product {
  flex-basis: 23%;
  @include margin-padding(bottom, 50px, null, null);

  @include media-queries(tablet, max) {
    flex-basis: 31%;
  }

  @include media-queries(mobile_L, max) {
    flex-basis: 100%;
    @include margin-padding(bottom, 20px, null, null);
  }

  &__img {
    float: left;
    @include size(100%, auto);
    @include margin-padding(bottom, 10px, null, null);
  }

  &-txt {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    clear: both;

    @include media-queries(laptop, max) {
      @include flex-direction(column);
    }

    .product-txt__header {
      flex-basis: 100%;
      @include font(16px, null, 300);
      @include margin-padding(bottom, 10px, null, null);

      @include media-queries(laptop, max) {
        @include order(1);
      }
    }

    .product-txt__basket {
      @include custom-button(null, null, $basic-layout-color, $bright-text-color);
      @include margin-padding(null, null, all, 10px 20px);
      @include transition(.4s);

      @include media-queries(laptop, max) {
        @include order(3);
      }

      &.in_cart {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .3;
        cursor: not-allowed;
        pointer-events: none;

      }

      &:hover {
        background-color: $smallButtons;
      }
    }

    .product-txt__price {
      @include flexbox;
      @include align-items(center);

      @include media-queries(laptop, max) {
        @include order(2);
        @include margin-padding(bottom, 10px, null, null);
        font-weight: bold;
      }

    }
  }
}