.cart {
  background-color: rgba(0, 0, 0, 0.6);
  @include size(100vw, 100vh);
  @include position(fixed, $top: 0, $left: 0);
  @include transition(.4s);
  z-index: 99;
  max-height: 0px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;

  .cart__list {
    text-align: left;

    .cart__item {
      @include flexbox;
      @include justify-content(space-between);
      @include margin-padding(bottom, 10px, bottom, 10px);

      .cart__img {
        text-align: center;

        .img {
          @include size(100px, auto);
        }
      }

      .cart__text {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);
        @include flex-basis(180px);

        &--shortcut {
          @include font(12px, null, null);
        }

        &--name {
          @include margin-padding(bottom, 5px, null, null);
          @include font(16px, null, 900, 17px);
        }

        &--price {
          @include flexbox;
          @include justify-content(space-between);
          @include font(16px, null, 900);

          .cart--price {
            @include font(14px, null);
          }

          .cart--count {
            @include font(14px, null);

            .input__count {
              @include size(50px, auto);
              border: none;
              border: 1px solid #c1c1c1;
              text-align: center;
            }
          }
        }
      }

      .btn__remove {
        @include transition(.4s);
        @include font(null, #ffffff, null);
        background: red;
        cursor: pointer;
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
                text-orientation: upright;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          background: $basic-text-color;
        }
      }
    }
  }

  .cart__total {
    @include flexbox;
    @include flex-direction(column);
    @include margin-padding(null, null, all, 20px);
    @include font(18px, $bright-text-color, 900);
    text-align: center;
    background-color: $basic-layout-color;

    .cart__pay {
      @include margin-padding(null, null, all, 10px);
    }

    .cart__buy {
      @include font(14px, $bright-text-color);
      @include margin-padding(null, null, all, 10px);
      @include transition(.4s);
      background-color: $smallButtons;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        background-color: $basic-text-color;
      }
    }
  }
}

.cart_bg {
  @include size(350px, auto);
  @include margin-padding(null, null, all, 10px);
  @include box-shadow(0, 0px, 5px, rgba(50, 50, 50, 0.2));
  @include position(absolute, $top: 100px, $right: 17px);
  background-color: $header-bg-color;

  @include media-queries(mobile_L, max) {
    @include size(100%, auto);
    right: auto;
  }
}

.cross {
  @include font(14px, $bright-text-color, 400, 25px);
  @include position(absolute, $top: -15px, $left: -15px);
  @include size(25px, 25px);
  cursor: pointer;
  background-color: $smallButtons;
  text-align: center;
  border-radius: 50%;

  @include media-queries(mobile_L, max) {
    left: 10px;
    top: -20px;
  }

  &:hover {
    background-size: null;
  }
}

.cart.show {
  max-height: 100vh;
  transition: max-height 0.25s ease-in;
}