.cart {
  @include position(fixed, $top: 120px, $right: 0);
  @include size(350px, auto);
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  opacity: 0;
  transition: .4s;
  z-index: 99;
  background: $header-bg-color;

  &__list {
    text-align: left;

    .cart__item {
      @include flexbox;
      @include justify-content(space-between);
      margin-bottom: 10px;
      padding-bottom: 10px;


      .cart__img {
        text-align: center;

        .img {
          @include size(100px, auto);
        }
      }

      .cart__text {
        flex-basis: 180px;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);


        &--name {
          @include font(16px, $basic-text-color, 900, 17px);
        }

        &--price {
          @include flexbox;
          @include justify-content(space-between);
          @include font(16px, $basic-text-color, 800);

          .cart--count {

            .input__count {
              @include size(50px, auto);
              text-align: center;
            }
          }
        }
      }

      .cart__del {
        text-align: center;
        position: relative;
        flex-basis: 30px;

        .btn__remove {
          @include size(20px, 25px);
          cursor: pointer;
          opacity: .3;

          &:hover {
            opacity: 1;
          }

          &:before,
          &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: $smallButtons;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }



        }

      }

    }

  }

  &__total {
    @include flexbox;
    @include flex-direction(column);
    text-align: center;
    background: $basic-layout-color;
    text-align: center;
    @include font(18px, $bright-text-color, 900);
    padding: 20px;

    .cart__pay {
      padding: 10px;
    }

    .cart__buy {
      background: $smallButtons;
      cursor: pointer;
      padding: 10px;
      @include font(14px, $bright-text-color, 900);
      text-transform: uppercase;
    }
  }
}

.cross {
  @include font(14px, $bright-text-color, 400, 25px);
  @include position(absolute, $top: -15px, $left: -15px);
  cursor: pointer;
  background: $smallButtons;
  @include size(25px, 25px);
  text-align: center;
  border-radius: 50%;

  &:hover {
    background: $basic-text-color;
  }
}

.cart.show {
  opacity: 1;
}