.modal {
  @include position(fixed, $top: 0, $left: 0);
  @include size(100%, 100%);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 9999;

  .modal-content {
    @include position(absolute, $top: 50%, $left: 50%);
    @include size(24rem, auto);
    transform: translate(-50%, -50%);
    background-color: $bright-text-color;
    padding: 1rem 1.5rem;
    text-align: center;

    .cross-modal {
      left: auto;
      right: -15px;
    }

    .modal-header {
      @include font(26px, $basic-text-color, 400);
    }

    .modal-title {
      @include font(16px, $basic-layout-color, 900);
      margin: 20px 0px;
    }

    .modal-btn {
      @include font(16px, $bright-text-color, 400);
      background: $smallButtons;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: .4s;

      &:hover {
        background: $basic-layout-color;
      }
    }
  }
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}