.modal {
  @include position(fixed, $top: 0, $left: 0);
  @include size(100%, 100%);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 9999;

  .modal-content {
    @include centerer;
    @include size(24rem, auto);
    @include margin-padding(null, null, all, 20px);
    background-color: $bright-text-color;
    text-align: center;

    @include media-queries(mobile_L, max) {
      @include size(100%, auto);
    }

    .cross-modal {
      left: auto;
      right: -15px;

      @include media-queries(mobile_L, max) {
        right: auto;
        left: 10px;
      }
    }

    .modal-header {
      @include font(26px, null);
    }

    .modal-title {
      @include font(16px, $basic-layout-color, 900);
      @include margin-padding(all, 20px 0, null, null);
    }

    .modal-btn {
      @include font(16px, $bright-text-color);
      @include margin-padding(null, null, all, 10px 20px);
      @include transition(.4s);
      cursor: pointer;
      background-color: $smallButtons;
      border: none;

      &:hover {
        background-color: $basic-layout-color;
      }
    }
  }
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}