$basic-text-color: #534f4f;
$basic-header-color: #434343;
$bright-text-color: #ffffff;
$header-bg-color: #fefefe;
$smallButtons: #ff0000;
$basic-layout-color: #fc9d02;

$basic-background: #fafafa;
$footer-background: #2a414e;
$date-color: #426578;
$input-color: #253745;
$footer-small-color: #000000;