$basic-text-color: #534f4f;
$basic-header-color: #434343;
$bright-text-color: #ffffff;
$header-bg-color: #fefefe;
$smallButtons: #ff0000;
$basic-layout-color: #fc9d02;

$basic-background: #ededed;
$footer-background: #000000;