//rwd

$breakpoints: ("phone": 460px,
    "telefon": 640px,
    "tablet": 800px,
    "tablet-wide": 1024px,
    "desktop": 1200px,
    "desktop-wide": 1440px);


@mixin mq($width, $type: min) {

    @if map_has_key($breakpoints, $width) {

        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media all and (#{$type}-width: $width) {
            @content;
        }
    }
}

//size element
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

//position
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//center element

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//fonts
@mixin font($size: false, $colour: false, $weight: false, $line: false) {
    font-family: $font-primary;

    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $line {
        line-height: $line;
    }
}